# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=
PORT=
LLM_API_ENDPOINT= # eg- "https://api.deepinfra.com/v1/openai/chat/completions"
MODEL=  #eg meta-llama/Llama-3.3-70B-Instruct
LLM_API_KEY=